<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://pampaDB.mssql.somee.com;databaseName=pampaDB</property>
    <property name="hibernate.connection.username">tefM_SQLLogin_1</property>
    <property name="hibernate.connection.password">5z5nbq6d4j</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="ppA/entity/Usuarios.hbm.xml"/>
    <mapping resource="ppA/entity/Opciones.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
