/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-sep-2016, 7:10:52
    Author     : luis
*/
td.tdLabel>label {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
span.required {
    content:"*";
    color:red;
}
.glyphicon-trash {
    color:red;
}
.footer {
    text-align: center;
    color: white;
    bottom: 0;
}
.bgLogin{
    background-image: url('../images/bg_login.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding-bottom: 1%;
}
.bgLogin b{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.modal-body{
    background-color: transparent;
    background-image: url('../images/boxi3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.body {
    background: linear-gradient(90deg, lightgrey, whitesmoke, lightgrey, whitesmoke, lightgrey);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#particles-js {
    position:fixed; width: 100%; height: 100%; z-index: -1;
}
body {
    background-color: transparent;
}
.navbar {
    margin-bottom: 1% !important;
}
.myContainer {
    background: url('../images/logo12.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px 100px;
    padding-top: 2px;
    margin-bottom: 2%;
}
.dropdown-menu > li > a
{
    color: #9d9d9d;
}
.selected {
    background-color: #acbad4 !important;
}
.modal, .modal-content, .modal-body, .modal-dialog {
    z-index: 30001;
}
.colorpicker, .colorpicker * {
    z-index: 50001;
}