/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-sep-2016, 7:10:52
    Author     : luis
*/
td.tdLabel>label { color: black;
                   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

span.required {
    content:"*";
    color:red;
}

.glyphicon-trash{
    color:red;
}