/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-sep-2016, 7:10:52
    Author     : luis
*/
td.tdLabel>label, .label {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.wwgrp br {
    display: none;
}
.aLinkNone:hover {
    text-decoration: none;
}
.wwctrl {
    width: 100% !important;
}

#tablePanelBody {
    padding: 0;
}

span.required {
    content:"*";
    color:red;
}
.glyphicon-trash {
    color:red;
}
.glyphicon-edit {
    color:chocolate;
}
.glyphicon-cutlery {
    color: orange;
}
.footer {
    text-align: center;
    color: white;
    bottom: 0;
}

h1 a {
    background-image: url('../images/login.png') !important;
}

#bgLogin{
    margin-top: 170px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 1%;
}
#bgLogin b{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#logo{
    width: 90px;
}

.input{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.modal-body{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.modal-xl {
  width: 95%;
}
.body {
    background-color: white;
    background-size: 1000% 1000%;
}

body {
    background-color: transparent;
}
.navbar {
    display: block;
    height: 0;
    border-radius: 0px !important;
    margin-bottom: 1% !important;
}

.navItem{
    margin: 0;
    display: block;
    height: 70px;
}

#particles-js {
    position:fixed; width: 100%; height: 100%; z-index: -1;
}

.myContainer {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px 100px;
    padding-top: 2px;
    margin-bottom: 2%;
}
.dropdown-menu > li > a {
    color: #9d9d9d;
}
.selected {
    background-color: #acbad4 !important;
}
.modal, .modal-content, .modal-body, .modal-dialog {
    z-index: 30001 !important;
}
.colorpicker, .colorpicker * {
    z-index: 50001 !important;
}
.select2-close-mask, .select2-dropdown{
    z-index: 40001 !important;
}
.select2-container {
    width: 100% !important;
}
.navbar navbar-inverse twoRow{
    border-radius: 0;
}
